# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/

# Virtual environment
venv/
env/
.env.local

# Django
*.sqlite3
staticfiles/
media/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Docs & misc
docs/
*.tar.gz
*.md
.git/
.gitignore

# IDE
.vscode/
.idea/
*.swp
